<button *ngIf="enableSelectFile" #uploadButton matTooltip="Seleccione Un Archivo" mat-icon-button matPrefix
	(click)="f_input.click()">
	<mat-icon>attach_file</mat-icon>
</button>
<button *ngIf="enableDownload" matTooltip="Descargar Archivo" #downloadButton mat-icon-button matSuffix>
	<mat-icon>download</mat-icon>
</button>
<button *ngIf="enablePreView" #preViewButton matTooltip="Pre Visualizar Archivo" mat-icon-button matSuffix>
	<mat-icon>
		preview
	</mat-icon>
</button>
<button *ngIf="enableDropFile" matTooltip="Borrar" (click)="dropFile()" #preViewButton mat-icon-button matSuffix>
	<mat-icon>
		delete
	</mat-icon>
</button>
<button *ngIf="enableCamera" matTooltip="Tomar Fotografia" (click)="showCamera=true" #preViewButton mat-icon-button
	matPrefix data-bs-target="#exampleModal" data-bs-toggle="modal">
	<mat-icon>
		photo_camera
	</mat-icon>
</button>
<input placeholder="Seleccione en Archivo" disabled="true" [value]="_value?.nombre">
<input type="file" hidden #f_input [accept]="acept" (change)="selectionFile(f_input.files)">



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Captura de fotografía </h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="justify-content-center">
					<webcam *ngIf="showCamera" [width]="480" [trigger]="trigger" (imageCapture)="handleImage($event)"
						(initError)="handlerinitError($event)"></webcam>
				</div>
			</div>
			<div class="modal-footer">
				<button #btnCloseModal type="button" class="btn btn-secondary" data-bs-dismiss="modal"
					(click)="showCamera=false">Cancelar
				</button>
				<button type="button" (click)="triggerSnapshot()" class="btn btn-primary">Capturar</button>
			</div>
		</div>
	</div>
</div>
